## Strings

In [ ]:
print("Asif")

Asif

In [1]:
print("""   My Self
My name is Muhammad Asif Iqbal.
I am a teacher.
I work at Logix.
      
      
      """)

   My Self
My name is Muhammad Asif Iqbal.
I am a teacher.
I work at Logix.

In [2]:
# fstring
name = input("Enter the name:")
age = input("Enter the age:")
# age = 55
txt = f"My name is {name}, I am {age} years old"
print(txt)

My name is Safia, I am 25 years old

In [2]:
# i want to print colours name

name=input("Enter any name = ")
profession=input("Enter any profession = ")  
company=input("Enter any company = ")

print(f"My name is {name}")
print(f"I am a {profession}")
print(f"I work at {company}")

My name is Ali
I am a Doctor
I work at OpenAIMP

In [154]:
print(x)

6

In [155]:
#This is a comment
print("Hello, World!")

Hello, World!

In [156]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [157]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [158]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [159]:
#Exercise 1:
#Create a variable named carname and assign the value Volvo to it.

In [160]:
x = 5
print(type(x))

<class 'int'>

In [161]:
x = 1.10
y = 1
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'int'>
<class 'float'>

# Type casting

Casting in python is therefore done using constructor functions:

int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [162]:
x = int(2.8)
y = float("3")
z = str(3.0)

print(x,y,z)
print(type(x),type(y),type(z))

2 3.0 3.0
<class 'int'> <class 'float'> <class 'str'>

In [163]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [8]:
# string slicing
b = "Hello, World!"
print(b[4:10])

o, Wor

In [165]:
b = "Hello, World!"
print(b[:5])

Hello

In [166]:
a = "Hello, World!"
print(a.upper())
print(a.lower())

HELLO, WORLD!
hello, world!

In [167]:
# concatenate string

a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [168]:
# fstring

age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [169]:
price = 59
txt = f"The price is {price:.4f} dollars"
print(txt)

The price is 59.0000 dollars

In [170]:
# Escape character

txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [3]:
# Boolean values
print("10 > 9")
print(2 == 9)
print(2 < 9)

10 > 9
False
True

In [9]:
print(bool("Hello"))
print(bool())

True
False

## Operators
Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators
Bitwise operators

In [173]:
x = 5
y = 3

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x // y)
print(x % y)
print(x ** y)

8
2
15
1.6666666666666667
1
2
125

In [9]:
# Assignment operators
x = 5
y = 3

print(x == y)

print(x!= y)



# Comparison operators

print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

# Logical operators
x = 5

print(x > 3 and x < 10) # and   x >= 10 and 

print(x > 3 or x < 4) # or   x > 3 or x < 4

print(not(x > 3 and x < 10)) # not   not(x > 3 and x < 10)

# Identity operators

x1 = ["apple", "banana"]
y1 = ["apple", "banana"]
x2 = y1

print(x1 is not y1) # is not   x1 is not y1

print(x1 is y1) # is   x1 is x2

False
True
True
False
True
False
True
True
False
True
False

In [175]:
x = 5
y=3
print(x >= y)
print(x <= y)

print(not(x > 3 and x < 10))

True
False
False

In [20]:
# Membership operators

x = "Hello World"
y = {1: "a", 2: "b"}

print("H" in x) # in   "H" in x

print(1 in y) # in   1 in y

# Bitwise operators

a = 60            # 60 = 0011 1100 
b = 13            # 13 = 0000 1101 
c = 0

c = a & b;        # 12 = 0000 1100

print("Line 1 - Value of c is ", c)

c = a | b;        # 61 = 0011 1101

print("Line 2 - Value of c is ", c)

c = a ^ b;        # 49 = 0011 0001


print("Line 3 - Value of c is ", c)

c = ~a;           # -61 = 1100 0011

print("Line 4 - Value of c is ", c)

c = a << 2;       # 240 = 1111 0000

True
True
Line 1 - Value of c is  12
Line 2 - Value of c is  61
Line 3 - Value of c is  49
Line 4 - Value of c is  -61

## Lists

**List** is a collection which is ordered and changeable. Allows duplicate members.

In [177]:
# List

mylist = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list1 = ["abc", 34, True, 40, "male"]
print(mylist)   

print(list2)

print(list3)

print(list1)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]
['abc', 34, True, 40, 'male']

In [ ]:
thislist = ["apple", "banana", "cherry"]

thistuple = ("apple", "banana", "cherry")

myset = {"apple", "banana", "cherry"}

thisdict = {
  "brand": "Toyota",
  "model": "GLI",
  "year": 2024
}

print(thislist)

print(thistuple)

print(myset)

print(thisdict)

['apple', 'banana', 'cherry']
('apple', 'banana', 'cherry')
{'apple', 'banana', 'cherry'}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [14]:
# Access items in list

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

print(thislist[0:6])
print(thislist[-1])
print(thislist[2:5])
print(thislist[:4])
print(thislist[2:])

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon']
mango
['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [15]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcarrot"
print(thislist)

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcarrot", "watermelon"]
print(thislist)

thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcarrot", "watermelon"]
print(thislist)

['apple', 'blackcarrot', 'cherry']
['apple', 'blackcarrot', 'watermelon', 'orange', 'kiwi', 'mango']
['apple', 'blackcarrot', 'watermelon', 'cherry']

In [181]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [16]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)
print(len(thislist))

['apple', 'orange', 'banana', 'cherry']
4

In [183]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [18]:
# remove end element
thislist = ["apple", "banana", "cherry"]
thislist.pop(0)
print(thislist)

['banana', 'cherry']

In [185]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [186]:
thislist = ["apple", "banana", "cherry","strawberry","guava"]
del thislist[1:4]
print(thislist)

['apple', 'guava']

In [187]:
# loop through list
thislist = ["apple", "banana", "cherry"]
for x in thislist:
 print(x)

apple
banana
cherry

In [188]:
print(range(3))

range(0, 3)

In [189]:
# loop through index number
thislist = ["apple", "banana", "cherry"]


for x in range(len(thislist)):
  print(thislist[x])

apple
banana
cherry

In [ ]:
# # List comprehension

# thislist = ["apple", "banana", "cherry","guava"]
# #print(thislist)

# for fruit in thislist:
#  print(fruit)

[print(x) for x in thislist]

apple
banana
cherry
guava

[None, None, None, None]

In [2]:
for x in thislist:
    print(x)

apple
banana
cherry
guava

In [191]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [192]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [193]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [194]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [195]:
# another method of list copy
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [196]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [197]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [198]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

#Exercise:
Print the second item in the fruits list.

In [199]:
fruits = ["apple", "banana", "cherry"]
print(fruits[1])

banana

## Tuple

**Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.

In [200]:
this_tuple = ("apple", "banana", "cherry", "apple", "cherry")
print(this_tuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [201]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [202]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [203]:
tuple1 = ("abc", 34, True, 40.0, "male")

print(tuple1)

('abc', 34, True, 40.0, 'male')

In [2]:
thistuple = tuple(["apple", "banana", "cherry","pomegranate"]) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry', 'pomegranate')

In [205]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [206]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [207]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [208]:
print(thistuple[:4])
print(thistuple[2:])

('apple', 'banana', 'cherry', 'orange')
('cherry', 'orange', 'kiwi', 'melon', 'mango')

## Change Tuple Values
Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [4]:
x = ("apple", "banana", "cherry")
print(x)
#x[1] = "lion"

print(list(x))

#print(y)
y = list(x)
y[1] = "lion"
print(y)
x = tuple(y)

print(x)

('apple', 'banana', 'cherry')
['apple', 'banana', 'cherry']
['apple', 'lion', 'cherry']
('apple', 'lion', 'cherry')

In [210]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [6]:
# add tuple to tuple
this_tuple = ("apple", "banana", "cherry")
y = ("orange",)
#this_tuple = this_tuple + y

this_tuple += y

print(this_tuple)

('apple', 'banana', 'cherry', 'orange')

In [212]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [213]:
thistuple = ("apple", "banana", "cherry","kiwi","orange")
for i in range(len(thistuple)):
  if i==1 or i==2:
    print(thistuple[i])

banana
cherry

In [214]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [215]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

Exercise 3:
Print the first item in the fruits tuple.

In [216]:
this_tuple = ('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')
print(this_tuple[0])

apple

## Set

Set items are unordered, unchangeable, and do not allow duplicate values.

**Unordered**
Unordered means that the items in a set do not have a defined order.
Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

**Unchangeable**

Sets are unchangeable, meaning that we cannot change the items after the set has been created.
Once a set is created, you cannot change its items, but you can add new items.

**No Duplicates**

Sets cannot have two items with the same value.
Duplicate values will be ignored.

In [217]:
myset = {"apple", "banana", "cherry"}
print(myset)

{'apple', 'banana', 'cherry'}

In [218]:
thisset = {1,"apple", "banana", "cherry", True,5, 2.0}

print(thisset)

{'apple', 2.0, 1, 5, 'cherry', 'banana'}

In [219]:
# can not access element by its index
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [220]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)
print("banana" not in thisset)

True
False

In [221]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'orange', 'banana', 'cherry'}

In [222]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'mango', 'apple', 'papaya', 'cherry', 'pineapple', 'banana'}

In [8]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'orange', 'kiwi', 'apple', 'banana'}

In [224]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [23]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

set3 = set1.union(set2)
print(set3)

{1, 'a', 2, 3, 'b', 'c'}
{1, 'a', 2, 3, 'b', 'c'}

In [226]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}
print(set1)
#set1.update(set2, set3, set4)
myset = set1.union(set2, set3, set4)
#print(set1)
print(myset)

{'b', 'c', 'a'}
{1, 2, 'b', 3, 'Elena', 'apple', 'bananas', 'John', 'cherry', 'a', 'c'}

In [227]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 'b', 3, 'Elena', 'apple', 'bananas', 'John', 'cherry', 'a', 'c'}

## Dictionary

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

Dictionaries are written with curly brackets, and have keys and values:
When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.

**Unordered** 
means that the items do not have a defined order, you cannot refer to an item by using an index.

**Changeable**
Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

**Duplicates Not Allowed**
Dictionaries cannot have two items with the same key:

In [25]:
thisdict = {"brand": "Toyota",
            "model": "GLI",
            "year": 2024}

print(thisdict)

{'brand': 'Toyota', 'model': 'GLI', 'year': 2024}

In [26]:
print(thisdict["model"])

GLI

In [27]:
x = thisdict.get("brand")
print(x)

Toyota

In [231]:
# get keys
x = thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [232]:
# updating
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [233]:
# changing values
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

In [234]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [235]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [236]:
# remove items
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [237]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [238]:
# delete the specific key: value
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [239]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [3]:
# all keys
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(x)

brand
model
year

In [241]:
# second way
for x in thisdict.keys():
  print(x)

brand
model
year

In [242]:
# for values of values
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964

In [243]:
# second way
for x in thisdict.values():
  print(x)

Ford
Mustang
1964

In [4]:
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

In [245]:
# copy dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [246]:
# another way
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [247]:
# store list in dict keys
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [248]:
# dict constructor
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [6]:
# case 1
myfamily = {
  "child1" : {
    "name" : "Ahmad",
    "year" : 2004
  },
  "child2" : {
    "name" : "Yousaf",
    "year" : 2007
  },
  "child3" : {
    "name" : "Hassan",
    "year" : 2011
  }
}

print(myfamily)

{'child1': {'name': 'Ahmad', 'year': 2004}, 'child2': {'name': 'Yousaf', 'year': 2007}, 'child3': {'name': 'Hassan', 'year': 2011}}

In [250]:
#Create three dictionaries, then create one dictionary that will contain the other three dictionaries

child1 = {
  "name" : "Ahmad",
  "year" : 2004
}
child2 = {
  "name" : "Yousaf",
  "year" : 2007
}
child3 = {
  "name" : "Hassan",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(myfamily)

{'child1': {'name': 'Ahmad', 'year': 2004}, 'child2': {'name': 'Yousaf', 'year': 2007}, 'child3': {'name': 'Hassan', 'year': 2011}}

In [7]:
# access element in nested dict
print(myfamily["child1"]["year"])

2004

In [9]:
for key, value in myfamily.items():
  print(key)

  for y in value:
    print(y + ':', value[y])

child1
name: Ahmad
year: 2004
child2
name: Yousaf
year: 2007
child3
name: Hassan
year: 2011

## Exercise:
Use the get method to print the value of the "model" key of the car dictionary.

In [253]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(car.get("model"))

Mustang

## if else

In [ ]:
a = 33
b = 34
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a and b are equal

In [255]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [256]:
if a > b: print("a is greater than b")

a is greater than b

In [257]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [28]:
a = 332
b = 335
print("A") if a > b else print("=") if a == b else print("B")

B

In [259]:
# and operator
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [260]:
# or operator
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [261]:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

In [262]:
# nested if
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [263]:
a = 33
b = 200

if b > a:
  pass

# while loop
Python has two primitive loop commands:

**while loops**
**for loops**

With the while loop we can execute a set of statements as long as a condition is true.

In [1]:
i = 5
while i > 0:
  print(i)
  #i= i+1
  i = i - 1

5
4
3
2
1

In [ ]:
#Exit the loop when i is 3
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i = i + 1 # preaddition

1
2
3

In [266]:
# skip i=3
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [267]:
# while else condition
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

## For loop

In [268]:
# loop through list
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [269]:
# loop through string
for x in "banana":
  print(x)

b
a
n
a
n
a

In [270]:
# break statement can break loop early
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [271]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [272]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [273]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [274]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [2]:
for x in range(10):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
6
7
8
9
Finally finished!

In [3]:
for x in range(6):
  if x == 3: 
    break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [277]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
# nested loop
for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
for x in [0, 1, 2]:
  pass # contiue

## Functions

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

In [279]:
def my_function():
    print("Hello from a function")

my_function()

Hello from a function

In [ ]:
def my_function(a,b):
  print(a+ " " + b)


fname = input("Enter first name = ")
lname = input("Enter last name = ")


my_function(fname, lname)

Qasim Ali

In [281]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Yousaf", "malik")

Yousaf malik

In [17]:
# if argument unknown
def my_function(*kids):
  print("The youngest child is " + kids[1])

my_function("Ameer Hamza", "Alishba", "Akram")

The youngest child is Alishba

In [18]:
# here argument send in key:value.so, order not mattered
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)
  print("The eldest child is " + child1)
  print("The middle child is " + child2)

my_function(child1 = "Saba", child2 = "Umme Laila", child3 = "Ayat")

The youngest child is Ayat
The eldest child is Saba
The middle child is Umme Laila

In [13]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Humera")

His last name is Humera

In [19]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [20]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [21]:
def my_function(x):
  return (7 * x)

print(my_function(3))
print(my_function(5))
print(my_function(9))

21
35
63

**Recursion**
Python also accepts function recursion, which means a defined function can call itself.

Recursion is a common mathematical and programming concept. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.

In [22]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(7)

Recursion Example Results
1
3
6
10
15
21
28

28

In [289]:
def update_tuple(x):
    print("Hello, we are in function")
    y = list(x)
    y[1] = "kiwi"
    x = tuple(y)
    return x


my_tuple = ("apple", "banana", "cherry")
#my_list = ["apple", "banana", "cherry"]
#my_set = {"apple", "banana", "cherry"}
print(my_tuple)
print(update_tuple(my_tuple))

('apple', 'banana', 'cherry')
Hello, we are in function
('apple', 'kiwi', 'cherry')

In [6]:
def addition(a, b):
    return a + b

def subtraction(a, b):
    return a - b

def multiplication(a, b):
    return a * b

def division(a, b):
    return a / b

Add = addition(5, 3)

Sub = subtraction(7, 3)

Mul = multiplication(5, 3)

Div = division(5, 3)

print("Addition =", Add)
print("Subtraction =", Sub)
print("Multiplication =", Mul)
print("Division =", Div)

print(type(Add))

Addition = 8
Subtraction = 4
Multiplication = 15
Division = 1.6666666666666667
<class 'int'>

In [7]:
class ArithmaticOperations:
    def addition(self, a, b):
        return a + b

    def subtraction(self, a, b):
        return a - b

    def multiplication(self, a, b):
        return a * b

    def division(self, a, b):
        return a / b


operation = ArithmaticOperations()

# Add = operation.addition(5, 3)
# Sub = operation.subtraction(7, 3)
# Mul = operation.multiplication(5, 3)
# Div = operation.division(5, 3)
print(operation.multiplication(8,9))

# print("Addition =", Add)
# print("Subtraction =", Sub)
# print("Multiplication =", Mul)
# print("Division =", Div)

print(type(operation))

72
<class '__main__.ArithmaticOperations'>

## Class and Object

**Class** A blueprint for creating objects (a particular data structure), defining initial values (attributes), and functions (methods).

Object: An instance of a class.

In [ ]:
class TupleModifier:

    print("Hello, we are in class")

    def __init__(self, initial_tuple): # by default constructor
        print("Initializing tuple modifier")
        self.tuple = initial_tuple
        print(self.tuple)

    def update_tuple(self):
        print("Hello, we are in Module")
        y = list(self.tuple)
        y[1] = "kiwi"
        self.tuple = tuple(y)
        return self.tuple
    
    # def get_tuple(self):
    #     return self.tuple
# Example usage
my_tuple = ("apple", "banana", "cherry")
print("Original tuple:", my_tuple)

# Create an instance of the TupleModifier class with the initial tuple
modifier = TupleModifier(my_tuple)

# Update the tuple
updated_tuple = modifier.update_tuple()

# Print the updated tuple
print("Updated tuple:", updated_tuple)

Hello, we are in class
Original tuple: ('apple', 'banana', 'cherry')
Initializing tuple modifier
('apple', 'banana', 'cherry')
Hello, we are in Module
Updated tuple: ('apple', 'kiwi', 'cherry')

In [291]:
# Define a class
class Dog:
    # Initializer / Instance Attributes
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    # Method
    def bark(self):
        return f"{self.name} says woof!"

# Create an object
dog1 = Dog("Buddy", 3)
print(dog1.name)   # Output: Buddy
print(dog1.age)    # Output: 3
print(dog1.bark()) # Output: Buddy says woof!

Buddy
3
Buddy says woof!

**1. Inheritance**

Inheritance allows one class to inherit the attributes and methods from another class.

In [292]:
# Parent class
class Animal:
    def __init__(self, name):
        self.name = name
    
    def speak(self):
        raise NotImplementedError("Subclass must implement abstract method")

# Child class (inherits from Animal)
class Dog(Animal):
    def speak(self):
        return f"{self.name} says woof!"

# Another child class
class Cat(Animal):
    def speak(self):
        return f"{self.name} says meow!"

dog1 = Dog("Buddy")
cat1 = Cat("Whiskers")
print(dog1.speak())  # Output: Buddy says woof!
print(cat1.speak())  # Output: Whiskers says meow!

Buddy says woof!
Whiskers says meow!

**2. Encapsulation**

Encapsulation restricts access to certain components, which can prevent the accidental modification of data.

In [293]:
class Car:
    def __init__(self, max_speed):
        self.__max_speed = max_speed  # Private attribute
    
    def get_max_speed(self):
        return self.__max_speed  # Getter method
    
    def set_max_speed(self, speed):
        if speed > 0:
            self.__max_speed = speed  # Setter method

# Create an instance of the Car class
car1 = Car(200)

# Access the private attribute using the getter method
print(car1.get_max_speed())  # Output: 200

# Modify the private attribute using the setter method
car1.set_max_speed(250)

# Access the updated attribute using the getter method
print(car1.get_max_speed())  # Output: 250

200
250

**3. Abstraction**

Abstraction hides the complex reality while exposing only the necessary parts.

In [294]:
from abc import ABC, abstractmethod

# Step 2: Define an Abstract Class
class Shape(ABC):
    # Step 3: Define Abstract Methods
    @abstractmethod
    def area(self):
        pass
    
    @abstractmethod
    def perimeter(self):
        pass

# Step 4: Create Concrete Subclasses
class Rectangle(Shape):
    def __init__(self, width, height):
        self.width = width
        self.height = height
    
    def area(self):
        return self.width * self.height
    
    def perimeter(self):
        return 2 * (self.width + self.height)

class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius
    
    def area(self):
        import math
        return math.pi * self.radius ** 2
    
    def perimeter(self):
        import math
        return 2 * math.pi * self.radius

# Step 5: Instantiate and Use the Concrete Subclasses
rect1 = Rectangle(10, 20)
print(f"Rectangle Area: {rect1.area()}")        # Output: 200
print(f"Rectangle Perimeter: {rect1.perimeter()}") # Output: 60

circle1 = Circle(5)
print(f"Circle Area: {circle1.area():.2f}")     # Output: 78.54
print(f"Circle Perimeter: {circle1.perimeter():.2f}") # Output: 31.42

Rectangle Area: 200
Rectangle Perimeter: 60
Circle Area: 78.54
Circle Perimeter: 31.42

## Polymorphism

**Polymorphism** means "many shapes". In OOP, it allows methods to do different things based on the object it is acting upon, even if the method name is the same.

**Types of Polymorphism**
There are two main types of polymorphism:

Compile-time (Static) Polymorphism: Achieved using method overloading and operator overloading.

Run-time (Dynamic) Polymorphism: Achieved using method overriding.

In [295]:
# Compile-time Polymorphism
class Math:
    def add(self, a, b):
        return a + b
    
    def add(self, a, b, c):
        return a + b + c

# The second method definition will override the first one.
math = Math()
print(math.add(2, 3, 4))  # Output: 9

9

In [296]:
#Run-time (Dynamic) Polymorphism
class Animal:
    def make_sound(self):
        print("Animal sound")

class Dog(Animal):
    def make_sound(self):
        print("Bark")

class Cat(Animal):
    def make_sound(self):
        print("Meow")

# Creating objects
dog = Dog()
cat = Cat()

# Polymorphism in action
dog.make_sound()  # Output: Bark
cat.make_sound()  # Output: Meow

Bark
Meow

## Filing

In [297]:
# reading already present file
# reading file
f = open("Ahmad.txt")

# reading line by line
for x in f:
    print(x)

f.close()

FileNotFoundError: [Errno 2] No such file or directory: 'Ahmad.txt'

In [ ]:
# writing files

f = open("Asif.txt", "w")

f.write("""Hello World!we are in python class.
I am learning python.""")

f.close()

In [ ]:
# writing at the end of file

f = open("Asif.txt", "a")
f.write("Now the file has more content!")
f.close()

#open and read the file after the appending:
f = open("Asif.txt", "r")
print(f.read())

Hello World!we are in python class.
I am learning python.Now the file has more content!

In [ ]:
# Deleting a file
import os
os.remove("Asif.txt")

PermissionError: [WinError 32] The process cannot access the file because it is being used by another process: 'Asif.txt'

In [ ]:
# return error if file not deleted 
import os
if os.path.exists("Ahmad.txt"):
  os.remove("Ahmad.txt")
else:
  print("The file does not exist")