#Python Tutorial

##Introduction

Python is a great general-purpose programming language on its own, but with the help of a few popular libraries (numpy, scipy, matplotlib, pandas) it becomes a powerful environment for scientific computing.

It is a high-level, dynamically typed multiparadigm programming language. Python code is often said to be almost like pseudocode, since it allows you to express very powerful ideas in very few lines of code while being very readable.

This section will serve as a quick crash course on the Python programming language.

In this tutorial, we will cover:

* Basic Python: Basic data types,Containers (Lists, Dictionaries, Sets, Tuples), Loops, Functions

In [ ]:
!python --version

Python 3.10.12

#Basics of Python
<figure>
<center>
<img src='https://drive.google.com/uc?id=1kWQJGi5_AVpVQ_ORjY2jTxmTWJ9lnIBY'/>
</figure>


###Data Types
<figure>
<center>
<img src='https://drive.google.com/uc?id=1JoZZVkkvQiqdqaqMfi_ow6EjhD4egCZu' />
</figure>

####Numbers

Integers and floats work as you would expect from other languages:

In [ ]:
x = 3
print(x, type(x))

3 <class 'int'>

In [ ]:
a = 5
a = b
b = 2
a

2

##Operators in Python
<figure>
<center>
<img src='https://drive.google.com/uc?id=1q0c_o-OCWVIXyARenBbKy9gUGR6d5oKP' />
</figure>

In [ ]:
#Numeric Operators
print(x + 1)   # Addition
print(x - 1)   # Subtraction
print(x * 2)   # Multiplication
print(x ** 2)  # Exponentiation
print(x / 4)   # Division
print(x // 4)  # Floor Division - Gives only integer
print(x % 2)   # Gives remainder

4
2
6
9
0.75
0
1

In [ ]:
x += 1
print(x)
x *= 2
print(x)

4
8

In [ ]:
y = 2.5
print(type(y))
print(y, y + 1, y * 2, y ** 2)

<class 'float'>
2.5 3.5 5.0 6.25

In [ ]:
#Comparison Operators
a, b = 6, 12
print(a>b)
print(a<b)
print(a==b)
print(a!=b)

False
True
False
True

Note that unlike many languages, Python does not have unary increment (x++) or decrement (x--) operators.

Python also has built-in types for long integers and complex numbers; you can find all of the details in the [documentation](https://docs.python.org/3/library/stdtypes.html).

####Booleans

Python implements all of the usual operators for Boolean logic, but uses English words rather than symbols (`&&`, `||`, etc.):

In [ ]:
t, f = True, False
print(type(t))

<class 'bool'>

Now we let's look at the operations:

In [ ]:
#Logical Operators
print(t and f) # Logical AND
print(t or f)  # Logical OR
print(not t)   # Logical NOT
print(t != f)  # Not equal to

False
True
False
True

####Strings

In [ ]:
hello = 'hello'   # String literals can use single quotes
world = "world"   # or double quotes; it does not matter
print(hello, len(hello))

hello 5

In [ ]:
hw = hello + ' ' + world  # String concatenation
print(hw)

hello world

In [ ]:
hw12 = '{} {} {}'.format(hello, world, 12)  # string formatting
print(hw12)

hw13 = f'{hello} {world} {13}'
print(hw13)

hello world 12
hello world 13

String objects have a bunch of useful methods; for example:

In [ ]:
s = "hello"
print(s.capitalize())  # Capitalize a string
print(s.upper())       # Convert a string to uppercase; prints "HELLO"
print(s.rjust(7))      # Right-justify a string, padding with spaces
print(s.center(9))     # Center a string, padding with spaces
print(s.replace('l', '(ell)'))  # Replace all instances of one substring with another
print('  world '.strip())  # Strip leading and trailing whitespace
print('world'.count('o'))
s1 = 'w o r l d'.split()
print(s1)
print('w o r l d'.join(" "))

Hello
HELLO
  hello
  hello
he(ell)(ell)o
world
1
['w', 'o', 'r', 'l', 'd']

In [ ]:
string = "Python strings are immutable."
string[1] = "W"

TypeError: ignored

In [ ]:
string += "But here's the trick."
print(string)

NameError: ignored

You can find a list of all string methods in the [documentation](https://docs.python.org/3/library/stdtypes.html#string-methods).

###Containers

Python includes several built-in container types: lists, dictionaries, sets, and tuples.


###Array Indexing in MATLAB
<figure>
<center>
<img src='https://drive.google.com/uc?id=1wYmaq9BzIlJfNYbJpeHJaUZtGK7A7Fli' />
</figure>

##Some Common List, String and Dictionary Opertaions in Python
<figure>
<center>
<img src='https://drive.google.com/uc?id=1Q_p2JMmx7uZcqn0zsJptrPzM6gevRyyU' />
</figure>

####Lists

A list is the Python equivalent of an array, but is resizeable and can contain elements of different types:

In [ ]:
xs = [3, 1, 2]   # Create a list
print(xs, xs[2])
print(xs[-1])     # Negative indices count from the end of the list; prints "2"
                  #whereas in MATLAB it will be xs(end) to access the last element in an array

[3, 1, 2] 2
2

In [ ]:
xs[2] = 'foo'    # Lists can contain elements of different types
print(xs)

[3, 1, 'foo']

In [ ]:
xs.append('bar') # Add a new element to the end of the list
print(xs)

[3, 1, 'foo', 'bar']

In [ ]:
x = xs.pop()     # Remove and return the last element of the list
print(x, xs)

bar [3, 1, 'foo']

In [ ]:
x = [5,7,2,0,8,1,2,9]
print(sorted(x))        #Sort list in ascending and descending order
print(sorted(x, reverse=True))

[0, 1, 2, 2, 5, 7, 8, 9]
[9, 8, 7, 5, 2, 2, 1, 0]

In [ ]:
x = [5,7,2,0,8,1,2,9,1,2,4,5,5,5]       #count the number of occurrences of a specific element in a list
print(x.count(5))

4

In [ ]:
l1 = [1,2,3,4]
l2 = [5,6,7,8]
print(l1+l2)    #concatenation
print(l1*2)     #duplicate

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 1, 2, 3, 4]

As usual, you can find all the gory details about lists in the [documentation](https://docs.python.org/3/tutorial/datastructures.html).

####Slicing
<figure>
<center>
<img src='https://drive.google.com/uc?id=1cUjOlYEdg7Y5qDU-37t20ZVotiSh_M3D' />
</figure>

In addition to accessing list elements one at a time, Python provides concise syntax to access sublists; this is known as slicing:

In [ ]:
nums = list(range(5))    # range is a built-in function that creates a list of integers
print(nums)         # Prints "[0, 1, 2, 3, 4]"

print(nums[2:4])    # Get a slice from index 2 to 4 (exclusive); prints "[2, 3]"
print(nums[2:])     # Get a slice from index 2 to the end; prints "[2, 3, 4]"
print(nums[:2])     # Get a slice from the start to index 2 (exclusive); prints "[0, 1]"
print(nums[:])      # Get a slice of the whole list; prints ["0, 1, 2, 3, 4]"
print(nums[:-1])    # Slice indices can be negative; prints ["0, 1, 2, 3]"

nums[2:4] = [8, 9] # Assign a new sublist to a slice
print(nums)         # Prints "[0, 1, 8, 9, 4]"

nums[5:7] = [3,6]
print(nums,"\n",nums[1:-2:2])   #start,stop,step

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[0, 1, 8, 9, 4]
[0, 1, 8, 9, 4, 3, 6]
 [1, 9]

####Loops
<figure>
<center>
<img src='https://drive.google.com/uc?id=1ttQTHp2Gi29MeIVWKskvjn32PqOtbXvr' />
</figure>

**Python**
<figure>
<center>
<img src='https://drive.google.com/uc?id=1HR-ABllKIq0vlC1gy9DlQNYW4YL-lVRn' />
</figure>

####Conditional Statements

In [ ]:
age = int(input("What is your age?"))
if age >= 20:
  print("Welcome to the club mate.")
else:
  print("Still {}? You got time man.".format(age))

What is your age?12
Still 12? You got time man.

####Try Except in Python
<figure>
<center>
<img src='https://drive.google.com/uc?id=1_ylwM_kJBjigTmt7hXdMRCDFMOirKN_a' />
</figure>

In [ ]:
age = input("What is your age? ")

try:
    age = int(age)
    if age >= 20:
        print("Welcome to the club mate.")
    elif age < 20:
        print("Just {}? You got time man.".format(age))

except:                         #also try Exception as e to know the reason of error
      print("Enter correct age in digits.")

What is your age? nfksd
Enter correct age in digits.

####For Loop
You can loop over the elements of a list like this:

In [ ]:
for i in range(1,6,2): #(start, stop, step)
  print(i)

1
3
5

In [ ]:
animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print(animal)

cat
dog
monkey

In [ ]:
for i in range(len(animals)):
  print(f"{i+1}: {animals[i]}")

1: cat
2: dog
3: monkey

If you want access to the index of each element within the body of a loop, use the built-in `enumerate` function:

In [ ]:
animals = ['cat', 'dog', 'monkey']
for idx, animal in enumerate(animals):
    print('#{}: {}'.format(idx + 1, animal))

#1: cat
#2: dog
#3: monkey

####List comprehensions:

When programming, frequently we want to transform one type of data into another. As a simple example, consider the following code that computes square numbers:

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)
print(squares)

[0, 1, 4, 9, 16]

You can make this code simpler using a list comprehension:

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
print(squares)

[0, 1, 4, 9, 16]

List comprehensions can also contain conditions:

In [ ]:
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print(even_squares)

[0, 4, 16]

####While Loop

In [ ]:
# Initialize a counter
count = 1

# Use a while loop to print numbers 1 to 5
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [ ]:
#Infinite While Loop
while True:
    user_input = input("Enter 'exit' to quit: ")
    if user_input.lower() == "exit":
        break  # Exit the loop if the user enters 'exit'
    else:
        print("You entered:", user_input)

Enter 'exit' to quit: hello
You entered: hello
Enter 'exit' to quit: HEY
You entered: HEY
Enter 'exit' to quit: nfck
You entered: nfck
Enter 'exit' to quit: ncsdn
You entered: ncsdn
Enter 'exit' to quit: quit
You entered: quit
Enter 'exit' to quit: exit

In [ ]:
# Use a while loop to iterate through numbers from 1 to 10
num = 1
while num <= 10:
    # Skip even numbers using the continue statement
    if num % 2 == 0:
        num += 1
        continue

    print("Current number:", num)

    # Break the loop when the number reaches 7
    if num == 7:
        print("Reached 7. Breaking out of the loop.")
        break

    num += 1

# This message is printed after the loop exits
print("Loop has ended.")

Current number: 1
Current number: 3
Current number: 5
Current number: 7
Reached 7. Breaking out of the loop.
Loop has ended.

####Dictionaries

A dictionary stores (key, value) pairs.

In [ ]:
d = {'cat': 'cute', 'dog': 'furry'}  # Create a new dictionary with some data
print(d['cat'])       # Get an entry from a dictionary; prints "cute"
print('cat' in d)     # Check if a dictionary has a given key; prints "True"

cute
True

In [ ]:
d['fish'] = 'wet'    # Set an entry in a dictionary
print(d['fish'])      # Prints "wet"

d.pop('fish')         #Return value and remove it from dict

wet

'wet'

In [ ]:
d.update({'fox': 'cunning'})    #another way to add items in dict

In [ ]:
d

{'cat': 'cute', 'dog': 'furry', 'fox': 'cunning', 'fish': 'wet'}

In [ ]:
print(d['monkey'])  # KeyError: 'monkey' not a key of d

KeyError: ignored

In [ ]:
print(d.get('monkey', 'N/A'))  # Get an element with a default; prints "N/A"
print(d.get('cat', 'N/A'))    # Get an element with a default; prints "cute"

N/A
cute

In [ ]:
del d['fox']        # Remove an element from a dictionary
print(d.get('fish', 'N/A')) # "fish" is no longer a key; prints "N/A"

N/A

In [ ]:
d.keys()

dict_keys(['cat', 'dog'])

In [ ]:
d.values()

dict_values(['cute', 'furry'])

In [ ]:
d.items()

dict_items([('cat', 'cute'), ('dog', 'furry')])

You can find all you need to know about dictionaries in the [documentation](https://docs.python.org/3/library/stdtypes.html#mapping-types-dict).

It is easy to iterate over the keys in a dictionary:

In [ ]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal, legs in d.items():
    print('A {} has {} legs'.format(animal, legs))

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

Dictionary comprehensions: These are similar to list comprehensions, but allow you to easily construct dictionaries. For example:

In [ ]:
nums = [0, 1, 2, 3, 4]
even_num_to_square = {x: x ** 2 for x in nums if x % 2 == 0}
print(even_num_to_square)

{0: 0, 2: 4, 4: 16}

####Sets

<figure>
<center>
<img src='https://drive.google.com/uc?id=1-LTMxlOc5CiE5HlD2-L3CX7C0AfwjtCN' />
</figure>

A set is an unordered collection of distinct elements. As a simple example, consider the following:

In [ ]:
animals = {'cat', 'dog'}
print('cat' in animals)   # Check if an element is in a set; prints "True"
print('fish' in animals)  # prints "False"

True
False

In [ ]:
animals.add('fish')      # Add an element to a set
print('fish' in animals)
print(len(animals))       # Number of elements in a set;

True
3

In [ ]:
animals.add('cat')       # Adding an element that is already in the set does nothing
print(len(animals))
animals.remove('cat')    # Remove an element from a set
print(len(animals))

3
2

In [ ]:
s1 = {1,2,3,4,5,6,7,7,8}
print(s1, type(s1), len(s1))

s2 = set([1,2,3,4,5,6,6,6])
print(s2, type(s2), len(s2))

s3 = {}
print(s3, type(s3))

{1, 2, 3, 4, 5, 6, 7, 8} <class 'set'> 8
{1, 2, 3, 4, 5, 6} <class 'set'> 6
{} <class 'dict'>

In [ ]:
#Set Operations
s1 = {1,2,3,4,5}
s2 = {4,6,7,8,9}
s1|s2, s1&s2, s1-s2

({1, 2, 3, 4, 5, 6, 7, 8, 9}, {4}, {1, 2, 3, 5})

_Loops_: Iterating over a set has the same syntax as iterating over a list; however since sets are unordered, you cannot make assumptions about the order in which you visit the elements of the set:

In [ ]:
animals = {'cat', 'dog', 'fish'}
for idx, animal in enumerate(animals):
    print('#{}: {}'.format(idx + 1, animal))

#1: dog
#2: fish
#3: cat

Set comprehensions: Like lists and dictionaries, we can easily construct sets using set comprehensions:

In [ ]:
from math import sqrt
print({int(sqrt(x)) for x in range(30)})

{0, 1, 2, 3, 4, 5}

####Tuples

A tuple is an (immutable) ordered list of values. A tuple is in many ways similar to a list; one of the most important differences is that tuples can be used as keys in dictionaries and as elements of sets, while lists cannot. Here is a trivial example:

In [ ]:
d = {(x, x + 1): x for x in range(10)}  # Create a dictionary with tuple keys
t = (5, 6)       # Create a tuple
print(type(t))
print(d)
print(d[t])
print(d[(1, 2)])

<class 'tuple'>
{(0, 1): 0, (1, 2): 1, (2, 3): 2, (3, 4): 3, (4, 5): 4, (5, 6): 5, (6, 7): 6, (7, 8): 7, (8, 9): 8, (9, 10): 9}
5
1

In [ ]:
t[0] = 1

TypeError: ignored

Below, we have provided a list of tuples. Write a for loop that saves the second element of each tuple into a list called seconds.

In [ ]:
seconds = []
tups = [('a', 'b', 'c'), (8, 7, 6, 5), ('blue', 'green', 'yellow', 'orange', 'red'), (5.6, 9.99, 2.5, 8.2), ('squirrel', 'chipmunk')]
for tup in tups:
    seconds.append(tup[1])

###Functions

<figure>
<center>
<img src='https://drive.google.com/uc?id=1jCRZnYpKXumZufwKoUICt-wDzBv6DTLv' />
</figure>

<figure>
<center>
<img src='https://drive.google.com/uc?id=1oGfafWxC_AaTK6KdlNeNd_TfU0iOf8gZ' />
</figure>

Python functions are defined using the `def` keyword. For example:

In [ ]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

for x in [-1, 0, 1]:
    print(sign(x))

negative
zero
positive

We will often define functions to take optional keyword arguments, like this:

In [ ]:
def hello(name, loud=False):
    if loud:
        print('HELLO, {}'.format(name.upper()))
    else:
        print('Hello, {}!'.format(name))

hello('Bob')
hello('Fred', loud=True)

Hello, Bob!
HELLO, FRED

####Lambda Function: Lambda function is a special type of function without the function name.
**Syntax:** lambda argument(s) : expression

In [ ]:
a_list = [1,2,3,4,5]
ans = (lambda a: a*2)(a_list)
print(ans)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

#Exercises

**Exercise 1.** Using a conditional, write the [relu](https://en.wikipedia.org/wiki/Rectifier_(neural_networks)) function defined as follows

$\text{relu}(x) = \left\{
   \begin{array}{rl}
     x, & \text{if }  x \ge 0 \\
     0, & \text{otherwise }.
   \end{array}\right.$

In [ ]:
def relu(x):
  # Write your function here
    if x >= 0:
        return x
    else:
        return 0

# Example usage:
result = relu(5)  # Returns 5
result2 = relu(-2)  # Returns 0

print(result)
print(result2)


relu(-3)

5
0

0

**Exercise 2.** Using a foor loop, write a function that computes the [Euclidean norm](https://en.wikipedia.org/wiki/Norm_(mathematics)#Euclidean_norm) of a vector, represented as a list.

In [ ]:
import numpy as np
def euclidean_norm(vector):
  # Write your function here
  x_sq = 0
  for x in vector:
    x_sq += x**2
  norm = np.sqrt(x_sq)
  return norm


my_vector = [0.5, -1.2, 3.3, 4.5]
# The result should be roughly 5.729746940310715
euclidean_norm(my_vector)

5.729746940310715

**Exercise 3.** Using a for loop and a conditional, write a function that returns the maximum value in a vector.

In [ ]:
def vector_maximum(vector):
  # Write your function here
  max_value = -np.inf
  for v in vector:
    if v > max_value:
      max_value = v
    else:
      continue

  return max_value
vector_maximum([3,-10,5,7,9])

9

**Bonus exercise.** if time permits, write a function that sorts a list in ascending order (from smaller to bigger) using the [bubble sort](https://en.wikipedia.org/wiki/Bubble_sort) algorithm.

In [ ]:
def bubble_sort(my_list):
  # Write your function here
  return

my_list = [1, -3, 3, 2]
# Should return [-3, 1, 2, 3]
bubble_sort(my_list)


*   List of Python [tutorials](https://wiki.python.org/moin/BeginnersGuide/Programmers)
* Four-hour [course](https://www.youtube.com/watch?v=rfscVS0vtbw) on Youtube

 As an example, here is an implementation of the classic quicksort algorithm in Python:

In [ ]:
def quicksort(arr):
    if len(arr) <= 1:
        return arr
    pivot = arr[len(arr) // 2]
    left = [x for x in arr if x < pivot]
    middle = [x for x in arr if x == pivot]
    right = [x for x in arr if x > pivot]
    return quicksort(left) + middle + quicksort(right)

print(quicksort([3,7,6,8,10,1,2,1]))

**Exercise 4:** Write a Python function called calculator that takes three arguments: operation (a string representing the operation), num1 (the first number), and num2 (the second number). The function should perform the calculation based on the provided operation. Hint:Use conditional statements.

In [ ]:
# Get user input for operation and two numbers
operation = input("Enter the operation (+, -, *, /): ")
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
def calculator(operation, num1, num2):
# Perform the calculation based on the operation using elif
    result = None

    if operation == "+":
        result = num1 + num2
    elif operation == "-":
        result = num1 - num2
    elif operation == "*":
        result = num1 * num2
    elif operation == "/":
        if num2 == 0:
            print("Error: Division by zero")
        else:
            result = num1 / num2
    else:
        print("Invalid operation")
    return result

res = calculator(operation, num1, num2)
print("Ans =", res)

Enter the operation (+, -, *, /): +
Enter the first number: 4
Enter the second number: 7
Ans = 11.0

![Python CheatSheet](https://drive.google.com/uc?export=view&id=1jVwdxdhERIF7Az6BgmsqCu_xnhdhXdqt)